<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="storage" type="Nuclei.Configuration.ConfigurationSectionToXmlTranslator, Nuclei.Configuration" />
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Metamorphic.Storage.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <storage>
        <DefaultLogLevel>
            <LevelToLog>Trace</LevelToLog>
        </DefaultLogLevel>
        <NugetFeeds>
            <ArrayOfString>
                <string>c:\dev\nuget</string>
                <string>https://www.nuget.org/api/v2/</string>
            </ArrayOfString>
        </NugetFeeds>
        <RuleLocations>
            <ArrayOfString>
                <string>c:\dev\rules</string>
            </ArrayOfString>
        </RuleLocations>
    </storage>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Mono.Cecil" publicKeyToken="0738eb9f132ed756" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.9.6.0" newVersion="0.9.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <Metamorphic.Storage.Properties.Settings>
      <setting name="ServiceName" serializeAs="String">
        <value>Metamorphic.Storage</value>
      </setting>
      <setting name="ServiceDisplayName" serializeAs="String">
        <value>Metamorphic.Storage</value>
      </setting>
    </Metamorphic.Storage.Properties.Settings>
  </applicationSettings>
</configuration>